.button {
    border-radius: 8px;
    border: 1px solid;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    transition: border-color 0.25s;
    height: 44px;
    width: 110px;
    padding: 0;
    text-align: center;
    border-color: #0067b8;
    color: #001526;
}

button:hover {
    border-color: #646cff;
  }